<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6cdd9891-9b62-43f4-a5cd-6456ec3c4c15/resourcegroups/WritersBlockWebMVC20210129234540ResourceGroup/providers/Microsoft.Web/sites/WritersBlockWebMVC20210129234540</ResourceId>
    <ResourceGroup>WritersBlockWebMVC20210129234540ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://writersblockwebmvc20210129234540.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>writersblockwebmvc20210129234540.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WritersBlockWebMVC20210129234540</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WritersBlockWebMVC20210129234540</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:writersblockwebmvcdbserver.database.windows.net,1433;Initial Catalog=WritersBlockWebMVC_db;User ID=writersblock@writersblockwebmvcdbserver;Password=DODD12162006!" Name="Data Source=tcp:writersblockwebmvcdbserver.database.windows.net,1433;Initial Catalog=WritersBlockWebMVC_db;User Id=writersblock@writersblockwebmvcdbserver;Password=DODD12162006!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WritersBlock.Data.ApplicationDbContext, WritersBlock.Data" MigrationConfiguration="WritersBlock.Data.Migrations.Configuration, WritersBlock.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:writersblockwebmvcdbserver.database.windows.net,1433;Initial Catalog=WritersBlockWebMVC_db;User Id=writersblock@writersblockwebmvcdbserver;Password=DODD12162006!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>