@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>

<p>
    Writer’s Block is a shared workspace where self-publishing writers can work together to edit and proof-read their work.
    Unfortunately, having a talent for writing does not make a person an editor. 
    In a similar way, not everyone can afford to pay an editor to go through their projects. 
    At Writer’s Block we want to bring together like-minded people in a positive, encouraging community 
    that is conducive to completing your best work.
</p>
