@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Writer's Block<br />
    Bloomington, IN 47403<br />
    <abbr title="Phone">P:</abbr>
    000.000.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@writersblock.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@writersblock.com</a>
</address>