@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('/Content/Images/Typewriter-Patrick Fore.jpg');
        background-repeat: no-repeat; background-position: center;background-size: cover;">

    <h1>Writer's Block</h1>
    <p class="lead">A space for writer's to work free of judgement in a supportive community.</p>   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a Post</h2>
        <p>
           Post for other users to see and assist you in your work.
        </p>
        <p><a class="btn btn-default" href="/Post">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Comment</h2>
        <p>Read other user's work and assist them by providing helpful feedback.</p>
        <p><a class="btn btn-default" href="/Comment">Help out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Faves</h2>
        <p>Your favorite posts stored in one location.</p>
        <p><a class="btn btn-default" href="/Faves">Your Faves &raquo;</a></p>
    </div>
</div>