/*font-family: 'Hachi Maru Pop', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Titillium Web', sans-serif;*/

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding-top: 50px;
    padding-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #192416;
    /*#1D291C;*/
}

html {
    font-family: sans-serif;
    
}

.navbar {
    background-color: #2e050b;
}

.navbar-brand {
    background-color: #2e050b;
    font-family: 'Potta One', cursive;
    color: whitesmoke;
}
button.navbar {
    color: #AB860C;
}
a{
    color: whitesmoke;
    text-decoration-color: initial;
    background-color: transparent;
}
/*nav ul li{
    color:black;
}*/

.jumbotron{
    color: inherit;    
    font-family: Hachi Maru Pop, cursive;
    color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   /* background-attachment: fixed;*/
    padding-top: 12%;
    padding-bottom: 12%;
    border-radius: 0%;
}
h1 {
    font-size: 100px;
}
.lead{
    font-size:35px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}
h2{
    font-size: 35px;
    color: black;
}
.col-md-4 {
    font-size: 25px;
    color: whitesmoke;
    background-color: #16142B;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items:center;
    flex-direction: column;
}
 p{
     margin-top: 3rem;
     margin-bottom: 3rem;
     font-size: 25px;
        
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.btn {
    font-size: 24px;
    border-radius: 25%;
    background-color: #2e050b;
    color: whitesmoke;
}
img {
 max-width: 100%;
 height: auto;
}

.footer {
    font-family: 'Potta One', cursive;
    /*max-width: 150%;*/
    background-color: #06041F;
    height: 25px;
    padding: 0 2.0em 7.5em 2.0em;
    background-size: 100% 100%;    
    margin: 0;
    padding: 0;
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    color:black;

}
.container {
    background-color: #2e050b;
}
